:root {
  --ifm-color-primary: #0d9488;
  --ifm-color-primary-dark: #0c857a;
  --ifm-color-primary-darker: #0b7e74;
  --ifm-color-primary-darkest: #09685f;
  --ifm-color-primary-light: #0ea396;
  --ifm-color-primary-lighter: #14b8a6;
  --ifm-color-primary-lightest: #2dd4bf;
  --ifm-code-font-size: 95%;
}

.navbar__title {
  font-weight: 700;
  letter-spacing: 0.2px;
}

.footer {
  --ifm-footer-background-color: #0f172a;
}
